--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchvision/
torch==2.0.1+cu118
torchvision==0.15.2+cu118
ninja
trimesh
opencv-python
tensorboardX
numpy
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
scipy
xatlas
scikit-learn
imageio
imageio-ffmpeg
timm
einops
open3d==0.14.1
torchmetrics
tensorboard
torch-ema
transformers
setuptools==65.0.0
accelerate==0.24.1
