--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchvision/
torch==2.0.1+cu118
torchvision==0.15.2+cu118

torch-ema
ninja
opencv-python
tensorboardX
numpy 
pandas
tqdm
matplotlib
rich
scipy
huggingface_hub
diffusers==0.15.0
transformers
xatlas
scikit-learn
imageio
imageio-ffmpeg
accelerate
tensorboard
typed-argument-parser
ipython
rembg[gpu,cli]
lovely-tensors
PyMCubes
trimesh
