# --find-links https://download.pytorch.org/whl/torch/
# --find-links https://download.pytorch.org/whl/torchvision/
# torch==2.0.1+cu118
# torchvision==0.15.2+cu118
# ninja
omegaconf==2.3.0
Pillow==10.1.0
einops==0.7.0
git+https://github.com/tatsy/torchmcubes.git
transformers==4.35.0
trimesh==4.0.5
rembg
huggingface-hub
imageio[ffmpeg]
gradio
